# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.DS_Store

# Files 50MB+
raw-data/wpp/WPP2019_Life_Table_OtherVariants.csv
raw-data/wpp/WPP2019_PopulationByAgeSex_Medium.csv
raw-data/wpp/WPP2019_Life_Table_Medium.csv
raw-data/scf/p13i6.dta
raw-data/scf/p89i6.dta
raw-data/scf/p92i4.dta
raw-data/scf/p95i6.dta
raw-data/scf/p10i6.dta
raw-data/scf/p16i6.dta
raw-data/scf/p01i6.dta
raw-data/scf/p09pi6.dta
raw-data/scf/p07i6.dta
raw-data/scf/p19i6.dta
raw-data/scf/p04i6.dta
raw-data/scf/p98i6.dta
raw-data/ipums/usa-census.dat
raw-data/dina-micro/usdina1995.dta
raw-data/dina-micro/usdina1981.dta
raw-data/dina-micro/usdina1980.dta
raw-data/dina-micro/usdina1994.dta
raw-data/dina-micro/usdina1969.dta
raw-data/dina-micro/usdina1982.dta
raw-data/dina-micro/usdina1996.dta
raw-data/dina-micro/usdina1997.dta
raw-data/dina-micro/usdina1983.dta
raw-data/dina-micro/usdina1968.dta
raw-data/dina-micro/usdina1978.dta
raw-data/dina-micro/usdina1987.dta
raw-data/dina-micro/usdina1993.dta
raw-data/dina-micro/usdina1992.dta
raw-data/dina-micro/usdina1986.dta
raw-data/dina-micro/usdina1979.dta
raw-data/dina-micro/usdina1990.dta
raw-data/dina-micro/usdina1984.dta
raw-data/dina-micro/usdina1985.dta
raw-data/dina-micro/usdina1991.dta
raw-data/dina-micro/usdina2019.dta
raw-data/dina-micro/usdina2018.dta
raw-data/dina-micro/usdina2008.dta
raw-data/dina-micro/usdina2009.dta
raw-data/dina-micro/usdina2004.dta
raw-data/dina-micro/usdina2010.dta
raw-data/dina-micro/usdina2011.dta
raw-data/dina-micro/usdina2005.dta
raw-data/dina-micro/usdina2013.dta
raw-data/dina-micro/usdina2007.dta
raw-data/dina-micro/usdina2006.dta
raw-data/dina-micro/usdina2012.dta
raw-data/dina-micro/usdina2016.dta
raw-data/dina-micro/usdina2002.dta
raw-data/dina-micro/usdina2003.dta
raw-data/dina-micro/usdina2017.dta
raw-data/dina-micro/usdina2001.dta
raw-data/dina-micro/usdina2015.dta
raw-data/dina-micro/usdina2014.dta
raw-data/dina-micro/usdina2000.dta
raw-data/dina-micro/usdina1977.dta
raw-data/dina-micro/usdina1988.dta
raw-data/dina-micro/usdina1989.dta
raw-data/dina-micro/usdina1962.dta
raw-data/dina-micro/usdina1976.dta
raw-data/dina-micro/usdina1974.dta
raw-data/dina-micro/usdina1975.dta
raw-data/dina-micro/usdina1971.dta
raw-data/dina-micro/usdina1970.dta
raw-data/dina-micro/usdina1964.dta
raw-data/dina-micro/usdina1972.dta
raw-data/dina-micro/usdina1966.dta
raw-data/dina-micro/usdina1999.dta
raw-data/dina-micro/usdina1998.dta
raw-data/dina-micro/usdina1967.dta
raw-data/dina-micro/usdina1973.dta
raw-data/sipp/pu2014w3.dat.gz
raw-data/sipp/pu2014w1.dat.gz
raw-data/sipp/pu2014w2.dat.gz
raw-data/sipp/pu2014w4.dat.gz
work/07-prepare-simulation/data_simul_demog.rds
work/07-prepare-simulation/model_effects.rds
work/03-estimate-intergenerational-linkages/dina_micro_children.rds
work/04-prepare-data/model_micro_marriage.rds
work/04-prepare-data/model_micro_data.rds
work/04-prepare-data/model_micro_inheritance.rds
work/03-estimate-marriage-process/dina_micro_marriage.rds
work/03-combine-calibrate-microdata/dina_micro.rds
work/02-import-dina/dina_micro.rds
work/02-import-census/census_data.rds
work/02-import-scf/scf_inter.rds
work/03-estimate-inheritance-process/dina_micro_inheritance.rds
work/03-estimate-inheritance-process/dina_micro_inheritance_params.rds
